.project-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    .first-row, .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: "Cinzel", sans-serif;
        text-align: center;
        font-size: 300%;
        margin-bottom: 2%;

        .gallery-element {
            width: 45%;
            height: 100%;
            padding: 2%;
            border: 1px solid #E1E1E1;
            border-radius: 10px;
        }
    }
}

:host ::ng-deep {
    .p-carousel {
        margin-top: 4%;
    }
}

// .project-list-container {
//     font-family: "Kdam", sans-serif;
//     font-size: 300%;
//     text-align: center;
//     margin-top: 2%;
// }

// :host ::ng-deep {
//     .p-carousel {
//         text-align: center;
//         font-family: "Kdam", sans-serif;
//         margin-top: 2%;
        
//         .carousel-element {
//             padding: 1%;
//             position: relative;
//             transition: transform 0.5s;

//             img {
//                 width: 90%;
//                 border-radius: 10px;
//                 filter: blur(1.5px);
//                 animation-delay: 2ms;
//                 transition: filter 1s;
//             }

//             img:hover {
//                 filter: blur(0);
//             }
//         }

//         .carousel-element:hover {
//             cursor: pointer;
//             transform: scale(1.02);
//             transition: transform 0.5s;
//         }

//         .carousel-text {
//             margin-top: 5%;
//             font-size: 200%;
//             letter-spacing: 5px;
//             // position: absolute;
//             // left: 35%;
//             // top: 42%;
//             // color: #FFF;
//         }

//         // .carousel-element:hover .carousel-text {
//         //     opacity: 0;
//         // }
//     }
// }
