<!-- <div class="project-list-container">
    <p-carousel [value]="projects" [numVisible]="3" [numScroll]="3" [circular]="false">
        <ng-template let-project pTemplate="item">
            <div class="carousel-element">
                <div class="carousel-image">
                    <img src="{{project.baseImageUrl}}" alt="xd">
                </div>
                <div class="carousel-text">
                    {{project.title}}
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div> -->

<div class="project-list-container">
    <div class="first-row">
        <div class="gallery-element">
            <span>{{projects[0].title}}</span>
            <p-carousel [value]="projects[0].imagesUrls">
                <ng-template let-image pTemplate="item">
                    <div>
                        <p-image src="{{image}}" width="100%" height="500px"></p-image>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <div class="gallery-element">
            <span>{{projects[1].title}}</span>
            <p-carousel [value]="projects[1].imagesUrls">
                <ng-template let-image pTemplate="item">
                    <div>
                        <p-image src="{{image}}" width="100%" height="500px"></p-image>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class="second-row">
        <div class="gallery-element">
            <span>{{projects[2].title}}</span>
            <p-carousel [value]="projects[2].imagesUrls">
                <ng-template let-image pTemplate="item">
                    <div>
                        <p-image src="{{image}}" width="100%" height="500px"></p-image>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        <div class="gallery-element">
            <span>{{projects[3].title}}</span>
            <p-carousel [value]="projects[3].imagesUrls">
                <ng-template let-image pTemplate="item">
                    <div>
                        <p-image src="{{image}}" width="100%" height="500px"></p-image>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
