<div class="realisations-container">
    <div class="first-row-elements">
        <app-realistaion-element
            class="element"
            [title]="projects[0].title"
            [imagesUrls]="projects[0].imagesUrls" />
        <app-realistaion-element
            class="element"
            [title]="projects[1].title"
            [imagesUrls]="projects[1].imagesUrls" />
    </div>
    <div class="second-row-elements">
        <app-realistaion-element
            class="element"
            [title]="projects[2].title"
            [imagesUrls]="projects[2].imagesUrls" />
        <app-realistaion-element
            class="element"
            [title]="projects[3].title"
            [imagesUrls]="projects[3].imagesUrls" />
    </div>
</div>
