@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@font-face {
    font-family: "Anta";
    src: url("../src/assets/fonts/Anta-Regular.ttf");
}

@font-face {
    font-family: "Kdam";
    src: url("../src/assets/fonts/KdamThmorPro-Regular.ttf");
}

@font-face {
    font-family: "Cinzel";
    src: url("../src/assets/fonts/Cinzel-VariableFont_wght.ttf");
}
